{% extends 'base.html.twig' %}

{% block title %}Categories{% endblock %}

{% block body %}
    <div class="form-control-plaintext text-center">
        <h1><b> CATEGORIES </b></h1>
    </div><hr><hr>
    <div class="margin-8"></div>
    {% for category in categories %}
        <a href="{{ path('category', {id: category.id}) }}"><h3>{{ category.name | upper}}</h3></a>
        <hr>
        <div class="margin-8"></div>
    {% endfor %}

{% endblock %}
