<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('./assets/css/style.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}

</head>
<body id="bd">
{% block navbar %}
    <nav class="navbar navbar-default navbar-inverse" role="navigation">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path('home') }}">SYMFONY-WEB-APP</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                            <li class="divider"></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>

                <form class="navbar-form navbar-center" role="search">
                    <div class="input-group">
                        <input type="search" class="form-control input-lg" placeholder="">
                        <div class="input-group-btn">
                            <button class="btn btn-default btn-lg" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>

                <div class="content">
                    <i class="fas fa-sun"></i>
                    &nbsp;&nbsp;&nbsp;
                    <input type="checkbox" id="tooglenight" class="cbx hidden"/>
                    <label for="tooglenight" class="switch"></label>
                    &nbsp;&nbsp;&nbsp;
                    <i class="fas fa-moon"></i>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <a href="{{ path('app_logout') }}"  class="btn btn-primary"><b>Logout</b> <span class="caret"></span></a>
                    {% endif %}
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
{% endblock %}


{% block body %}{% endblock %}

<div class="__content"></div>

{% block footer %}

    <footer>

        <div class="container">
            <p class="text-center"><a href="https://symfonywebapp.herokuapp.com/">SYMFONY-WEB-APP</a></p>
        </div>

    </footer>

{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            $("#tooglenight").change(function() {
                if(this.checked) {
                    $("#bd").addClass("night");
                    $("i").css("color", "white");
                }else{
                    $("#bd").removeClass("night");
                    $("i").css("color", "black");
                }
            });
        });
    </script>
{% endblock %}
</body>
</html>
