{% extends 'base.html.twig' %}
{% block title %} Edit {% endblock %}
{% block body %}
    <a href="{{ path('comment_index') }}"><<< back to list</a>
    {{ form_errors(form) }}
    {{ form(form) }}
    <a href="{{ path('comment_delete', { id: comment.id }) }}" class="btn btn-block btn-danger">Delete</a>

{% endblock %}
