{% extends 'base.html.twig' %}

{% block title %}{{ app.user.userIdentifier }}{% endblock %}

{% block body %}
    <a href="{{ path('user_reviews') }}" class="btn btn-block btn-success">My reviews</a>
        <div class="margin-8"></div>
    <div class="margin-8"></div>
    <a href="{{ path('comment_index') }}" class="btn btn-block btn-success">My comments</a>
        <div class="margin-8"></div>
    <a href="{{ path('review_create') }}" class="btn btn btn-primary">Create a new review</a>
{% endblock %}
